<!DOCTYPE HTML>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>Lista</title>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel="stylesheet" href="../StylesNewProduct.CSS">


</head>



<body >

    <div class="container-fluid" >
        <div class="row" >
            <div class="col-lg-2 col-md-3 sb Sidebar d-none d-sm-block"   >
                       
                    <div class="col">
                        <ul>
                            <a href="Perfil01.html"><li>Mi perfil</li></a>
                            <a href="Chat.html"><li>Mis chats</li></a>
                            <a href="../PaginaInicio.html"><li>Principal</li></a>
                            
                            <a href="../LoginVentanas/Login.html"><li>Cerrar Sesion</li></a>

                            

                        </ul>
                    </div>


            </div>

            <div class="col-lg-10 col-md-9">

                <div class="row buscarDiv">

                    <div class="row logoRow">
                        <div class="col-11"><h1>LOGO</h1></div>
                        <div class="col-1"><a href="Carrito.html">
                            <img src="../../Public/cart.png" alt="Carrito" class="img-fluid h-50" alt="Responsive image">


                        </a></div>

                    </div>


                    <div class="col">
                    <hr>
                <input type="" class="form-control buscarTXT" id="exampleInputEmail1" aria-describedby="" placeholder="Buscar">
                <button type="button" class="btn btn-dark">Buscar</button> 
                <hr>
                </div>
                </div>
                <!----img src="Public/doggo.png" alt="Logo perro" width="87" class="img-fluid" alt="Responsive image" -->   

            <div class="row listaTitular">
                   <div class="col-3">
                    <img src="../../Public/listas.jpg" class="imgLista w-50"   >
                    </div>
                    <div class="col-6 listaName">
                        <h3 class = "ngt">Mi Lista #1</h3>
                        <h4 class="text-muted">Julian | Arte</h4>
                        <h4 class>Definicion de la lista</h4>




                    </div>
                </div>
                   <div class="row products proLista">
                    <!--    Tarjeta de productos   -->
                    <div class="col-lg-2 col-md-4 col-sm-2 card tarjeta " >
                        <div class="card-body">
    
                            <img src="../../Public/doggo.png" class="rounded mx-auto d-block" alt="..." width="87">
    
                          <h5 class="card-title">Articulo</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Calificacion</h6>
                          <p class="card-text">Definicion del articulo detallada pero no completa sola mente un limite que será....</p>
                          <p class="card-text">Disponible:
                            <select class="form-select-sm totalP">
                                <option>1</option>
                                <option>2</option>
                              </select>
                          </p>
                          
                            <div class="container">
    
                                <div class="row">
    
                                    <div class="col">Eliminar de mi lista</div> 
                                    <div class="col">
                                        <button type="button" class="btn btn-light">Comprar</button>
    
    
                                    </div>
                                </div>
                                
    
                            </div>
                        </div>
                      </div>
    
                      <div class="col-lg-2 col-md-4 col-sm-2 card tarjeta " >
                        <div class="card-body">
    
                            <img src="../../Public/doggo.png" class="rounded mx-auto d-block" alt="..." width="87">
    
                          <h5 class="card-title">Articulo</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Calificacion</h6>
                          <p class="card-text">Definicion del articulo detallada pero no completa sola mente un limite que será....</p>
                          <p class="card-text">Disponible: 0
                            
                          </p>
                          
                            <div class="container">
    
                                <div class="row">
    
                                    <div class="col">Eliminar de mi lista</div>
                                    <div class="col">
                                        <button type="button" class="btn btn-light">Comprar</button>
    
    
                                    </div>
                                </div>
                                
    
                            </div>
                        </div>
                      </div>
    
                    
                    </div>



                   <h2>Mis otras Listas</h2> <hr>

                   <div class="row">
                        

                    <div class="col-5">
                  
                        <div class="row tjtLista ">

                            <div class="col-3 imgLista d-none d-sm-block">
                                <img src="../../Public/listas.jpg" class="imgLista w-75" alt="..."  >
                            </div>

                            <div class="col-9 ">
                                <h5 class="card-title nombreL" >Nombre de lista</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Creador | Categoria</h6>
                                <h6 class="card-text">Definicion de la lista....</h6>
                      


                            </div>
                            

                        </div>
                        </div>

                    <div class="col-5">
                  
                            <div class="row tjtLista ">
    
                                <div class="col-3 imgLista d-none d-sm-block">
                                    <img src="../../Public/plus Icon.png" class="imgLista w-75" alt="..."  >
                                </div>
    
                                <div class="col-9 ">
                                    <h5 class="card-title nombreL" >Nueva lista</h5>
                                     <h6 class="card-text">Crear nueva lista</h6>
                          
    
    
                                </div>
                                
    
                            </div>
                        </div>
                        
                </div>



                          </div>




            <footer>JULIAN&NACHO SHOP All rights reserved</footer>

            </div>


        </div>

    </div>

    


<script src="../principalFunctions.js"></script>
</body>