<!DOCTYPE HTML>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>PerfilComprador</title>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel="stylesheet" href="../StylesNewProduct.CSS">


</head>

<body >

    <div class="container-fluid" >
        <div class="row" >
            <div class="col-lg-2 col-md-3 sb Sidebar d-none d-sm-block"   >
                       
                <div class="col" >
                    <ul >
                        <a href="../PaginaInicio.html"><li>Principal</li></a>
                        <div id="btnLogin">
                            <a href="../LoginVentanas/Login.html"><li>Iniciar Sesion</li></a>
                        </div>
                        <div id="btnPerfil" class="d-none">
                            <a href="Perfiles/Perfil01.html"><li>Mi Perfil</li></a>
                            <a href="Perfiles/Chat.html"><li>Mis Chats</li></a>
                            <a href="Categorias.html"><li>Categorias</li></a>
                            <a href="#" id="logout"><li>Cerrar Sesion</li></a>
                        </div>                    

                    </ul>
                </div>

            </div>

            <div class="col-lg-10 col-md-9">

                <div class="row buscarDiv">
                    
                    <div class="row logoRow">
                        <div class="col-11"><h1>LOGO</h1></div>
                        <div class="col-1"><a href="Carrito.html">
                            <img src="../../Public/cart.png" alt="Carrito" class="img-fluid h-50" alt="Responsive image">


                        </a></div>

                    </div>



                    <div class="col">
                    <hr>
                <input type="" class="form-control buscarTXT" id="exampleInputEmail1" aria-describedby="" placeholder="Buscar">
                <a href="../Buscar.html"><button type="button" class="btn btn-dark">Buscar</button> </a>
                <hr>
                </div>
                </div>
                <!----img src="../../Public/doggo.png" alt="Logo perro" width="87" class="img-fluid" alt="Responsive image" -->   

                <div class="LoginInfo" >
                    <h1>Mi Perfil</h1>                                                                           
                        <div class="container">                                    
                            <div class="row">
                                <div class="col EspForms">
                                    <h2> Foto de perfil</h2>
                                        <img id="fotoPerfil" src="../../Public/profileFoto.jpg" width="177" class="img-fluid pFoto" alt="Responsive image">
                                </div>
                    
                                <div class="col EspForms">
                    
                                        <h2>Correo:</h2><br>
                                        <h3 id="correo">MiCorreo@email.com</h3>                                      
                                        <br>
                                        <h2>Usuario:</h2><br>
                                        <h3 id="userName">UserName</h3>                   
                                </div>
                    
                            </div>                                      
                                <div class="row">
                                    <div class="col EspForms">
                                        <h2>Fecha de nacimiento:</h2><br>
                                        <h3 id="fechaNac">16-Sep-2003</h3>                   
                                    </div>
                    
                                    <div class="col EspForms">
                                        <h2>Sexo:</h2><br>
                                        <h3 id="sexo">Masculino</h3>
                                    </div>                               
                                
                                </div>
                    
                                <div class="row">
                                    <div class="col EspForms">                                           
                                        <h2>Perfil privado</h2>  
                                        <h3 id="privacidad">No</h3>                                                   
                                    </div>
                    
                                    <div class="col EspForms">
                                        <h2>Tipo de cuenta:</h2><br>
                                        <h3 id="tipo_cuenta">Estandar (compras)</h3>
                    
                                    </div>
                                </div>
                                       
                                <div class="row">
                                    <div class="col EspForms Botones" > <a href="Editarperfil.html">
                                        <button type="button" class="btn btn-light btn-lg">Editar datos</button></a>

                                    </div>
                                </div>
                    
                            <!--
                            <div class="row">
                                <div class="col EspForms Botones" >
                                    <button type="button " class="btn btn-secondary btn-lg">Crear cuenta</button>
                    
                                </div>
                                <div class="col EspForms Botones" >
                                    <button type="button" class="btn btn-light btn-lg">Acceder</button>
                                </div>
                            </div>
                        
                    
                                <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" placeholder="Contaseña">
                    
                        -->
                    
                        </div>
                    
                    </div>

                    &nbsp 
                   <h2 class="USUARIOUNO">Mis compras</h2><hr class="USUARIOUNO">
                   <h2 class="USERVENDE">Mis productos</h2><hr class="USERVENDE">
                   <h2 class="USERADMIN">Productos autorizados</h2><hr class="USERADMIN">

                   <div id="menuComprador">
                    
                   </div>
                   <!-- ||| Productos comprados |||     -->
                   <div class="row productsCompra">
                    
                    <!--    Tarjeta de productos   -->
                    <div class="col-lg-2 col-md-4 col-sm-2 card tarjeta USUARIOUNO" >
                        <div class="card-body">
    
                            <img src="../../Public/doggo.png" class="rounded mx-auto d-block" alt="..." width="87">
    
                          <h5 class="card-title">Articulo</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Calificacion</h6>
                          <p class="card-text">Definicion del articulo detallada pero no completa sola mente un limite que será....</p>
                          <p class="card-text">Disponible:
                            <select class="form-select-sm totalP">
                                <option>1</option>
                                <option>2</option>
                              </select>
                          </p>
                          
                            <div class="container">
    
                                <div class="row">
    
                                    <div class="col">Agregar a una lista</div>
                                    <div class="col">
                                        <a href="ProductVista.html"><button type="button" class="btn btn-light">Comprar</button></a>
    
    
                                    </div>
                                </div>
                                
    
                            </div>
                        </div>
                      </div>
    
                      <div class="col-lg-2 col-md-4 col-sm-2 card tarjeta  USUARIOUNO" >
                        <div class="card-body">
    
                            <img src="../../Public/doggo.png" class="rounded mx-auto d-block" alt="..." width="87">
    
                          <h5 class="card-title">Articulo</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Calificacion</h6>
                          <p class="card-text">Definicion del articulo detallada pero no completa sola mente un limite que será....</p>
                          <p class="card-text">Disponible:
                            <select class="form-select-sm totalP">
                                <option>1</option>
                                <option>2</option>
                              </select>
                          </p>
                          
                            <div class="container">
    
                                <div class="row">
    
                                    <div class="col">Agregar a una lista</div>
                                    <div class="col">
                                        <a href="ProductVista.html"><button type="button" class="btn btn-light">Comprar</button></a>
    
    
                                    </div>
                                </div>
                                
    
                            </div>
                        </div>
                      </div>

                     

    
                    
                    </div>

                                       <!-- ||| Productos vendedor |||     -->
                   <div class="row productsVende ">
                    
                    <!--    Tarjeta de productos   -->
                    <div class="col-lg-2 col-md-4 col-sm-2 card tarjeta USERVENDE USERADMIN" >
                        <div class="card-body">
    
                            <img src="../../Public/doggo.png" class="rounded mx-auto d-block" alt="..." width="87">
    
                          <h5 class="card-title">Articulo</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Calificacion</h6>
                          <p class="card-text">Definicion del articulo detallada pero no completa sola mente un limite que será....</p>
                          <p class="card-text">Disponible:
                            <select class="form-select-sm totalP">
                                <option>1</option>
                                <option>2</option>
                              </select>
                          </p>
                          
                            <div class="container">
    
                                <div class="row">
    
                                    <div class="col">Agregar a una lista</div>
                                    <div class="col">
                                        <a href="NewProd.html"><button type="button" class="btn btn-light">Editar</button></a>
    
    
                                    </div>
                                </div>
                                
    
                            </div>
                        </div>
                      </div>
    
                      <div class="col-lg-2 col-md-4 col-sm-2 card tarjeta  USERVENDE USERADMIN" >
                        <div class="card-body">
    
                            <img src="../../Public/doggo.png" class="rounded mx-auto d-block" alt="..." width="87">
    
                          <h5 class="card-title">Articulo</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Calificacion</h6>
                          <p class="card-text">Definicion del articulo detallada pero no completa sola mente un limite que será....</p>
                          <p class="card-text">Disponible:
                            <select class="form-select-sm totalP">
                                <option>1</option>
                                <option>2</option>
                              </select>
                          </p>
                          
                            <div class="container">
    
                                <div class="row">
    
                                    <div class="col">Agregar a una lista</div>
                                    <div class="col">
                                        <a href="NewProd.html"><button type="button" class="btn btn-light">Editar</button></a>
    
    
                                    </div>
                                </div>
                                
    
                            </div>
                        </div>
                      </div>

                     

    
                    
                    </div>

                    <div class="row">
                        <a href="ReporteShop.html"><button type="button" class="btn btn-dark bgBtnPerfil USUARIOUNO">Reporte de compras</button>
                         <div class="col-6"><a href="NewProd.html"><button type="button" class="btn btn-dark bgBtnVende USERVENDE">Nuevo producto</button></div></a>
                         <div class="col-6">                         <a href="ReporteVentas.html"><button type="button" class="btn btn-dark bgBtnVende USERVENDE">Reporte de ventas</button></div> </a>
                         <hr class="USERADMIN">
                         <a href="../LoginVentanas/NewAdmin.html"><button type="button" class="btn btn-dark bgBtnPerfil USERADMIN">Crear nuevo admin</button></a>

                    </div>


                   <h2>Mis Listas</h2> <hr>

                   <div class="row rListas" >
                        

                    <div class="col-5 USUARIOUNO USERVENDE">
                  
                        <div class="row tjtLista h-100">

                            <div class="col-3 imgLista d-none d-sm-block">
                                <a href="ListaVista.html"><img src="../../Public/listas.jpg" class="imgLista w-75" alt="..."  ></a>
                            </div>

                            <div class="col-9 ">
                                <h5 class="card-title nombreL" >Nombre de lista</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Creador | Categoria</h6>
                                 <h6 class="card-text">Definicion de la lista....</h6>
                      


                            </div>
                            

                        </div>
                        </div>

                    <div class="col-5 USUARIOUNO USERVENDE">
                  
                            <div class="row tjtLista h-100" id="diva">
    
                                <div class="col-3 imgLista d-none d-sm-block">
                                    <img src="../../Public/plus Icon.png" class="imgLista w-75" alt="..."  >
                                </div>
    
                                <div class="col-9 ">
                                    <h5 class="card-title nombreL" >Nueva lista</h5>
                                     <h6 class="card-text">Crear nueva lista</h6>
                          
    
    
                                </div>
                                
    
                            </div>
                        </div>


                
                


                        
                        
                    
                    
                    </div>
                    
                    </div>
                    
                    <dialog id="dlg" class="dlgLista" >
                        
                        <div  class="container" id="modalProducto">
                
                            <h3> Nueva lista</h3>
                            <div class="row">
                                <div class="col">
                            <h4>Nombre: <input  class="form-control" placeholder="MiProducto" ></h4>
                            <h5>Categoria: <input  class="form-control" placeholder="MiProducto" ></h5></div>                       
                                    
                            <div class="d-flex">
                                <button type="button" class="btn btn-light mx-2" id="btn2">Cerrar</button>
                                <button type="button" class="btn btn-light" id="btn3">Crear</button>
                            </div>                                
                        </div>   
                    
                    </dialog>
                        
                </div>



            </div>         

            <footer>JULIAN&NACHO SHOP All rights reserved</footer>

            </div>


        </div>




        <script src="pro01Fun.js"></script>
    
    
    </div>

    <script>
        $("#diva").click(function(){
                document.getElementById('dlg').showModal();
            });

        $("#btn2").click(function(){
            document.getElementById('dlg').close();
        });

        $("#btn3").click(function(){
            alert("Lista creada");
            document.getElementById('dlg').close();
        });

        $('#logout').click(function(e) {
            e.preventDefault(); // Evita el comportamiento predeterminado del enlace
            window.location.href = '../../Controllers/logout.php'; // Redirige al script de logout
        });

        function cargarProductos() {
            $.ajax({
                url: '../../Controllers/productosVendedor.php', // Cambia esta URL al archivo PHP que devuelve los productos
                method: 'GET',
                dataType: 'json',
                success: function(response) {
                    if (response.length > 0) {
                        var productsContainer = $('.productsVende');
                        productsContainer.empty(); // Limpiar cualquier contenido existente

                        response.forEach(function(product) {
                            var imagenBase64 = 'data:image/jpeg;base64,' + product.imagen;
                        
                        // Establecer la URL de datos base64 como fuente de la imagen
                            $('#fotoPerfil').attr('src', imagenBase64);
                            var cardHtml = `
                                <div class="col-lg-2 col-md-4 col-sm-2 card tarjeta">
                                    <div class="card-body">
                                        <img src="${imagenBase64}" class="rounded mx-auto d-block" alt="..." width="87">
                                        <h5 class="card-title">${product.Nombre}</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Calificación</h6>
                                        <p class="card-text">${product.descrip}</p>
                                        <p class="card-text">Precio: ${product.precio}</p>
                                        <p class="card-text">Stock: ${product.stock}</p>

                                        <div class="container">
                                            <div class="row">
                                                <div class="col">Agregar a una lista</div>
                                                <div class="col">
                                                    <a href="NewProd.html"><button type="button" class="btn btn-light">Agregar</button></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            `;
                            productsContainer.append(cardHtml);
                        });
                    } else {
                        var productsContainer = $('.productsVende');
                        productsContainer.empty();
                        console.log('No se encontraron productos');
                    }
                },
                error: function() {
                    $('#session-status').text('Error al verificar la sesión');
                }
            });
        }

        $(document).ready(function() {
            $.ajax({
                url: '../../Controllers/sesion.php', // Cambia esta URL al archivo PHP que verifica la sesión
                method: 'GET',
                success: function(response) {
                    if (response === 'success') {
                        $('#btnLogin').addClass('d-none');
                        $('#btnPerfil').removeClass('d-none');
                    } else {
                        window.location.href = '../LoginVentanas/Login.html'; // Redirige al script de logout
                    }
                },
                error: function() {
                    $('#session-status').text('Error al verificar la sesión');
                }
            });

            $.ajax({
                url: '../../Controllers/perfil.php', 
                method: 'GET',
                dataType: 'json',
                success: function(response) {
                    console.log(response);
                    $('#userName').text(response.usernm);
                    $('#correo').text(response.correo);
                    if(response.sexo == 'M'){
                        $('#sexo').text('Hombre');
                    }else{
                        $('#sexo').text('Mujer');
                    }
                    $('#fechaNac').text(response.feNacimiento);
                    if(response.boolPublico == 0){
                        $('#privacidad').text('No');
                    }else{
                        $('#privacidad').text('Si');
                    }
                    if(response.Rol == 0){
                        $('#tipo_cuenta').text('Comprador');
                        $('.USERVENDE').hide();
                        $('.USERADMIN').hide();
                        $('.USUARIOUNO').show();
                        alert("Vista perfil Comprador");
                    }else if(response.Rol == 1){
                        $('#tipo_cuenta').text('Vendedor');
                        $('.USUARIOUNO').hide();
                        $('.USERADMIN').hide();
                        $('.USERVENDE').show();
                        alert("Vista perfil Vendedor");

                        cargarProductos();
                    }
                    else{
                        $('#tipo_cuenta').text('Administrador');
                        $('.USUARIOUNO').hide();
                        $('.USERVENDE').hide();
                        $('.USERADMIN').show();
                        alert("Vista perfil Admin");
                    }

                    if (response.imagen) {
                        // Convertir la imagen binaria a una URL de datos base64
                        var imagenBase64 = 'data:image/jpeg;base64,' + response.imagen;
                        
                        // Establecer la URL de datos base64 como fuente de la imagen
                        $('#fotoPerfil').attr('src', imagenBase64);
                    }
                },
                error: function(error) {
                    console.log('Error al obtener datos del perfil:', error);
                }
            });
        });
    </script>
    
</body>