<!DOCTYPE HTML>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>Mis Ventas</title>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

<link rel="stylesheet" href="../StylesNewProduct.CSS">


</head>



<body >

    <div class="container-fluid" >
        <div class="row">
            <div class="col-lg-2 col-md-3 sb Sidebar d-none d-sm-block"   >
                       
                    <div class="col">
                        <ul>
                          <a href="Perfil01.html"><li>Mi perfil</li></a>
                          <a href="Chat.html"><li>Mis chats</li></a>
                          <a href="../PaginaInicio.html"><li>Principal</li></a>
                          
                          <a href="../LoginVentanas/Login.html"><li>Cerrar Sesion</li></a>

                            

                        </ul>
                    </div>


            </div>
            <div class="col-lg-10 col-md-9" >
                <div class="row buscarDiv">

                  <div class="row logoRow">
                    <div class="col-11"><h1>LOGO</h1></div>
                    <div class="col-1"><a href="Carrito.html">
                        <img src="../../Public/cart.png" alt="Carrito" class="img-fluid h-50" alt="Responsive image">


                    </a></div>

                </div>

                    <div class="col">
                    <hr>
                <input type="" class="form-control buscarTXT" id="exampleInputEmail1" aria-describedby="" placeholder="Buscar">
                <a href="../Buscar.html"><button type="button" class="btn btn-dark">Buscar</button> </a>
                <hr>
                </div>
                </div>
                <!----img src="Public/doggo.png" alt="Logo perro" width="87" class="img-fluid" alt="Responsive image" -->   

                &nbsp 
                   <h2>Mis pedidos</h2><hr>

                   <h3>Totales</h3>
                   <table class="table">
                    <thead class="table-dark">
                      <tr>
                        <th scope="col">Número de venta</th>
                        <th scope="col">Fecha de venta</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Calificacion</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="infoT">
                        <th >#12345</th>
                        <th >12/12/24 11:11am</th>
                        <th >Poster Dog</th>
                        <th >$15.31</th>
                        <th >Decoracion</th>
                        <th >4.0</th>
                      </tr>
                    </tbody></table>

                    <hr>



            </div>

        
            <footer>JULIAN&NACHO SHOP All rights reserved</footer>

        </div>


    </div>

    



</body>