<!DOCTYPE HTML>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>Principal</title>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel="stylesheet" href="StylesNewProduct.CSS">


</head>

<body class="h-100" style="min-height: 100vh;">

    <div class="container-fluid " >
        <div class="row"> <!--||||||         DIV Sidevar       |||||||-->
            <div class="col-lg-2 col-md-3 sb Sidebar d-none d-sm-block"   >
                <div class="col" >
                    <ul >
                        <a href="PaginaInicio.html"><li>Principal</li></a>
                        <div id="btnLogin">
                            <a href="../LoginVentanas/Login.html"><li>Iniciar Sesion</li></a>
                        </div>
                        <div id="btnPerfil" class="d-none">
                            <a href="Perfiles/Perfil01.html"><li>Mi Perfil</li></a>
                            <a href="Perfiles/Chat.html"><li>Mis Chats</li></a>
                            <a href="Perfiles/Categorias.html"><li>Categorias</li></a>
                            <a href="#" id="logout"><li>Cerrar Sesion</li></a>
                        </div>                    

                    </ul>
                </div>

            </div>
            <div class="col-lg-10 col-md-9" > <!--||||||         Centro de la page       |||||||-->
                
                
                <!----img src="Resources/doggo.png" alt="Logo perro" width="87" class="img-fluid" alt="Responsive image" -->   
                <div class="row buscarDiv">

                    <div class="row logoRow">
                        <div class="col-11"><h1>LOGO</h1></div>
                        <div class="col-1"><a href="Perfiles/Carrito.html">
                            <img src="../Public/cart.png" alt="Carrito" class="img-fluid h-50" alt="Responsive image">


                        </a></div>

                    </div>


                    <div class="col">
                    <hr>
                <input type="" class="form-control buscarTXT" id="exampleInputEmail1" aria-describedby="" placeholder="Buscar">
                <a href="Buscar.html"><button type="button" class="btn btn-dark">Buscar</button> </a>
                <hr>
                </div>
                </div>

               

                <h2>Articulos populares</h2>
                <div class="row products">
                <!--    Tarjeta de productos   -->
                <div class="col-lg-2 col-md-4 col-sm-2 card tarjeta " >
                    <div class="card-body">

                        <img src="../Public/doggo.png" class="rounded mx-auto d-block" alt="..." width="87">

                      <h5 class="card-title">Articulo</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Calificacion</h6>
                      <p class="card-text">Definicion del articulo detallada pero no completa sola mente un limite que será....</p>
                      <p class="card-text">Disponible:
                        <select class="form-select-sm totalP">
                            <option>1</option>
                            <option>2</option>
                          </select>
                      </p>
                      
                        <div class="container">

                            <div class="row">

                                <div class="col">Agregar a una lista</div>
                                <div class="col">
                                    <button type="button" class="btn btn-light">Agregar al carrito</button>


                                </div>
                            </div>
                            

                        </div>
                    </div>
                  </div>

                  <div class="col-lg-2 col-md-4 col-sm-2 card tarjeta " >
                    <div class="card-body">

                        <img src="../Public/doggo.png" class="rounded mx-auto d-block" alt="..." width="87">

                      <h5 class="card-title">Articulo</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Calificacion</h6>
                      <p class="card-text">Definicion del articulo detallada pero no completa sola mente un limite que será....</p>
                      <p class="card-text">Disponible:
                        <select class="form-select-sm totalP">
                            <option>1</option>
                            <option>2</option>
                          </select>
                      </p>
                      
                        <div class="container">

                            <div class="row">

                                <div class="col">Agregar a una lista</div>
                                <div class="col">
                                    <button type="button" class="btn btn-light">Agregar al carrito</button>


                                </div>
                            </div>
                            

                        </div>
                    </div>
                  </div>

</div>
                  <h2><hr>Listas</h2> 
                  

                    <div class="row">
                        

                        <div class="col-5">
                      
                            <div class="row tjtLista ">
    
                                <div class="col-3 imgLista d-none d-sm-block">
                                    <a href="Perfiles/ListaVista.html"><img src="../Public/listas.jpg" class="imgLista w-75" alt="..."  ></a>
                                </div>
    
                                <div class="col-9 ">
                                    <h5 class="card-title nombreL" >Nombre de lista</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Creador | Categoria</h6>
                                     <h6 class="card-text">Definicion de la lista....</h6>
                          
    
    
                                </div>
                                
    
                            </div>
                            </div>

                        <div class="col-5">
                      
                                <div class="row tjtLista ">
        
                                    <div class="col-3 imgLista d-none d-sm-block">
                                        <a href="Perfiles/ListaVista.html"><img src="../Public/listas.jpg" class="imgLista w-75" alt="..."  ></a>
                                    </div>
        
                                    <div class="col-9 ">
                                        <h5 class="card-title nombreL" >Nombre de lista</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Creador | Categoria</h6>
                                         <h6 class="card-text">Definicion de la lista....</h6>
                              
        
        
                                    </div>
                                    
        
                                </div>
                            </div>
                            
                    </div>

            </div>
            
            <footer>JULIAN&NACHO SHOP All rights reserved</footer>

        </div>


    </div>

    
<script>
    $(document).ready(function() {
        $.ajax({
            url: '../Controllers/sesion.php', // Cambia esta URL al archivo PHP que verifica la sesión
            method: 'GET',
            success: function(response) {
                if (response === 'success') {
                    console.log()
                    $('#btnLogin').addClass('d-none');
                    $('#btnPerfil').removeClass('d-none');
                } else {
                    console.log("No sesion")
                }
            },
            error: function() {
                $('#session-status').text('Error al verificar la sesión');
            }
        });

        $('#logout').click(function(e) {
                e.preventDefault(); // Evita el comportamiento predeterminado del enlace
                window.location.href = '../Controllers/logout.php'; // Redirige al script de logout
        });
    });
</script>


</body>